.weatherinfo {
	display: flex;
	justify-content: space-between;
	flex-flow: row wrap;
	width: 100%;
	min-height: 180px;
	height: 100%;
	margin-top: 5px;
	padding: 0 20px;
	background-color: #ffffff;
	border-radius: 3px;
}
@media only screen and (max-width: 480px)  {
	.weatherinfo {
		padding: 10px 20px;
	}
}