.main {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background: url("./images/bg.jpg") center/cover no-repeat;
  position: relative;
  padding-bottom: 80px;
}
.container {
  max-width: 480px;
  width: 100%;
  padding: 0 10px;
  margin-top: 15vh;
}
.header {
  width: 100%;
  height: 80px;
  background-color: #131314;
}
.header > img {
  height: 100%;
  padding: 15px 0px;
  display: block;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
